// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
.image {
    border-radius: 200px;
    }
.notifications {
    color: $white;
    text-align: center;  
    
    .notice {
        background-color: lightBlue;
    }
    
    .alert {
        background-color: alert_orange;
    }
    }